.intro__list {
  list-style: none;
  padding: 0;
  margin: 33px 0 92px;
}

@media screen and (max-width: 768px) {
  .intro__list {
    margin: 33px 0 88px;
  }
}

@media screen and (max-width: 400px) {
  .intro__list {
    margin: 33px 0 64px;
  }
}