.header__lang-ling {
  list-style: none;
  line-height: 1.17;
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.header__lang-ling:hover {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 320px) {
  .header__lang-ling {
    font-size: 18px;
    line-height: 1.11;
  }
}