.lead__main-pic {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead__main-pic {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__main-pic {
    max-width: 100%;
  }
}